html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -199px;
   float:left
}
div#container
{
   width: 755px;
   height: 399px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #DED7B5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Table1
{
   border: 1px #C0C0C0 solid;
   background-color: #FFFFFF;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
}
#Table1 td
{
   padding: 5px 5px 5px 5px;
}
#Table1 .cell0
{
   background-color: #FBFBFB;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 366px;
}
#wb_Form2
{
   background-color: #B9CCEC;
   background-image: none;
   border: 0px #000000 dotted;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text1 div
{
   text-align: right;
}
#nom
{
   border: 2px #51B4FD solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#nom:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button2
{
   border: 1px #000000 solid;
   background-color: #4B4B4B;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text4 div
{
   text-align: right;
}
#prenom
{
   border: 2px #51B4FD solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#prenom:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text5 div
{
   text-align: right;
}
#telephone
{
   border: 2px #51B4FD solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#telephone:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text6 div
{
   text-align: right;
}
#email
{
   border: 2px #51B4FD solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#email:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text3 div
{
   text-align: right;
}
#adresse
{
   border: 2px #51B4FD solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#adresse:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#code
{
   border: 2px #51B4FD solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#code:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text10 div
{
   text-align: right;
}
#commune
{
   border: 2px #51B4FD solid;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   text-align: left;
   vertical-align: middle;
}
#commune:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text9 div
{
   text-align: right;
}
#Button3
{
   border: 1px #000000 solid;
   background-color: #FF6262;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
        .ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	}
	 
	.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
	}
	 
	.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	}
	 
	.ac_loading {
	/*background: white url('indicator.gif') right center no-repeat;*/
	}
	 
	.ac_odd {
	background-color: #eee;
	}
	 
	.ac_over {
	background-color: #0A246A;
	color: white;
	}
a.style_lien:link
{
   color: #A07217;
}
a.style_lien:visited
{
   color: #A07217;
   text-decoration: underline;
}
a.style_lien:active
{
   color: #A07217;
   text-decoration: underline;
}
a.style_lien:hover
{
   color: #A07217;
   text-decoration: underline;
}
