div#container
{
   width: 740px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #DED7B5;
   background-image: url(images/fond.png);
   background-repeat: repeat-x;
   color: #000000;
   font-family: Arial;
   font-size: 11px;
   margin: 0;
   text-align: center;
}
#Table1
{
   border: 1px #C0C0C0 solid;
   background-color: #F8F8F8;
   border-spacing: 1px;
}
#Table1 td
{
   padding: 5px 5px 5px 5px;
}
#Table2
{
   border: 1px #32CD32 solid;
   background-color: #DBF5A3;
   border-spacing: 1px;
}
#Table2 td
{
   padding: 5px 5px 5px 5px;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 none;
   padding: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 none;
   padding: 0;
   text-align: right;
}
#wb_Text3 div
{
   text-align: right;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 none;
   padding: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Image1
{
   border: 0px #000000 solid;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 none;
   padding: 0;
   text-align: right;
}
#wb_Text4 div
{
   text-align: right;
}
#Image4
{
   border: 0px #000000 solid;
}
#Image5
{
   border: 0px #000000 solid;
}
#Image3
{
   border: 0px #000000 solid;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 none;
   padding: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Table3
{
   border: 2px #C0C0C0 solid;
   background-color: #FF5555;
   border-spacing: 1px;
}
#Table3 td
{
   padding: 0px 0px 0px 0px;
}
#Image1
{
   border: 0px #000000 solid;
}
#Image2
{
   border: 0px #000000 solid;
}
#Image3
{
   border: 0px #000000 solid;
}
